

header {
    width: 100%;
    position: absolute;
    z-index: 999;
    padding: 40px 0;
    .header {
        display: flex;
        justify-content: space-between;
        a {
            text-decoration: none;
        }
        nav {
            ul {
                display: flex;
                gap: 50px;
                li {
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}