

header {
    width: 100%;
    position: absolute;
    z-index: 999;
    padding: 40px 0;
    .header {
        display: flex;
        justify-content: space-between;
        nav {
            ul {
                display: flex;
                gap: 50px;
            }
        }
    }
}